.ui-widget-content {
  border: 0;
  background: transparent; }

.slider .ui-slider-handle {
  margin-top: -2px; }

.ui-icon-gripsmall-diagonal-se {
  background: url(../img/resize-handler.png) no-repeat center center;
  width: 30px;
  height: 30px;
  bottom: -20px; }

.ui-draggable-handle {
  overflow: visible !important; }

.background {
  margin: 30px auto;
  text-align: center; }

.editor {
  background: #FFF; }
  .editor .obj_item {
    display: inline-block;
    vertical-align: top;
    margin: 20px auto; }
  .editor .item {
    border: 3px solid #CDCDCD;
    background-color: #FFF;
    position: relative;
    margin: 10px;
    padding: 10px; }
  .editor .thumb {
    margin: 5px;
    text-align: center; }
    .editor .thumb img {
      margin: 0 auto; }
  .editor .remove {
    width: 16px;
    height: 16px;
    float: right;
    margin: -90px -5px 0 0;
    background: transparent url(../img/remove-handler.png) no-repeat center center;
    cursor: pointer; }
  .editor .slider-wrapper {
    width: 100%;
    margin: 5px 0px 0px 5px; }
    .editor .slider-wrapper span {
      font-size: 13px;
      font-weight: normal;
      display: block;
      clear: both;
      margin-bottom: 5px;
      font-style: italic; }
    .editor .slider-wrapper .slider {
      border-radius: 20px;
      width: 100%;
      background-color: #fff;
      border: 1px solid #CDCDCD;
      margin-top: -17px;
      margin-bottom: 10px; }
    .editor .slider-wrapper .ui-slider-handle {
      width: 16px;
      height: 16px;
      margin-top: 0;
      border: 0;
      cursor: pointer;
      outline: none;
      background: url('../img/slider-handler.png') no-repeat center center; }

html, body {
  font: 100%/100% "Helvetica Neue Light", Arial, sans-serif;
  background: #EFEFEF; }

.navbar-default {
  background-color: #231f20;
  border-bottom: 3px solid #CDCDCD;
  height: 80px; }
  .navbar-default .btn-group {
    margin-top: 22px;
    margin-left: -300px; }
    .navbar-default .btn-group .btn {
      font-size: 12px;
      border: 1px solid #FFF; }
      .navbar-default .btn-group .btn:first-child {
        border-radius: 15px 0 0 15px; }
      .navbar-default .btn-group .btn:last-child {
        border-radius: 0 15px 15px 0; }
      .navbar-default .btn-group .btn.btn-primary {
        background: #FFF;
        color: #231f20; }
      .navbar-default .btn-group .btn.btn-default {
        background: #231f20;
        color: #FFF; }
